.centerText {
    text-align: center;
}

.marginTop {
    margin-top: 100px;
}

.marginTopSmall {
    margin-top: 50px;
}

#centerHorizontally {
    width: 50%;
    margin: 0 auto;
}

#categories {
    float: left;
    width: 10%;
    position: fixed;
}

#cardTable
{
    float:right;
    width: 80%;

}

.table td {
    border: 1px solid white;
}

td {
    width: 500px;
}

#cardPanel {
    float: left;
    width: 40%;
    position: fixed;
}

#cardSettings {
    float: right;
    width: 40%;
    margin-top: 40px;
}

.smallPadding {
    padding: 5px;
}

#colorPicker {
    width: 25%;
}

#cardContent
{
    height: 500px;
    background-color: transparent;
    border: none;
    resize: none;
    box-shadow: none;
}

.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
    height: 30px;
}
