<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-3 " id="categories">
            <h3>Categories</h3>
            <ul  class="nav nav-sidebar" >
                <li ng-repeat="category in categories"><a ng-show="$index > 0"
                       href="#category{{$index}}">{{ category }}</a></li>

            </ul>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="col-md-6 col-md-offset-3 marginTopSmall">
                <div class="form-group marginTopSmall" id="cardTable">
                    <button class="btn btn-success">Create New Card</button>
                    <button class="btn btn-danger">Delete Cards</button>
                    <button class="btn btn-primary">Assign Cards</button>

                    <!-- <button ng-repeat="row in cardTable track by $index" name="btnListItem"
                            class="list-group-item">{{ row }}</button>-->
                </div>
            </div>
        </form>
    </div>
</div>

